.date{
    padding: 55px 0 75px;
    background-color: $color-bg;
    &__form{
        width: 100%;
        position: relative;
        z-index: 0;
    }
    &__row{
        align-items: center;
    }
    &__input{
        width: 100%;
        min-height: 54px;
        border-radius: 160px;
        background-color: $color-white;
        outline: none;
        border: none;
   
    }
    &__btn{
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        outline: none;
        border: none;
        min-height: 54px;
        border-radius: 160px;
        padding: 0 25px;
        background-color: $color-lightGreen;
        color: $color-white;
    }
    &__description{
        @include font($color-green, 18px, normal, $font-noto);
        margin-top:25px;
    }
    &__text{
        @include font($color-green,14px, normal, $font-noto);
        margin-top: 10px;
        line-height: 1.5;

    }
    &__link{
        color: $color-lightGreen;
        cursor: pointer;
    }
}