.product{
    background-color: $color-green;
    padding: 66px 0 140px;
    &__title{
        margin-bottom: 65px;
        text-align: center;
        color: $color-white;
    }
    &__row{
        margin: 0 -70px
    }
    &__item{
        @include flex-center();
        flex-direction: column;   
     }
     &__img{
         margin-bottom: 25px;
     }
    &__subtitle{
        @include font($color-white, 18px, normal, $font-noto);
        margin: 4px 0;
    }
}
