.get {
  padding: 115px 0 125px;
  background-image: url("../img/png/get.png");
  background-position: center;
  background-size: cover;
}

.get__title {
  text-align: center;
}

.get__description {
  margin: 25px 0 18px;
  text-align: center;
}

.get__btn {
  background-color: #FAB5A0;
  margin: 0 auto;
}
