@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Noto+Sans:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.section__title {
  color: #163A24;
  font-size: 48px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

.btn {
  outline: none;
  border: 2px solid transparent;
  padding: 15px 25px;
  border-radius: 160px;
  background-color: #198C36;
  color: #FBFAF7;
  font-size: 16px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  transition: 0.4s;
}

.btn:hover {
  border: 2px solid #198C36;
  color: #198C36;
  background-color: transparent;
}

.header {
  background-color: #163A24;
  padding: 20px 0;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__item {
  margin-left: 25px;
  color: #FBFAF7;
  font-size: 16px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
}

.header__item:last-child {
  background-color: #198C36;
  padding: 15px 25px;
  border-radius: 160px;
  transition: 0.3s;
}

.header__item:last-child:hover {
  background-color: #198C36;
  opacity: 0.7;
}

.header__item:first-child {
  margin-left: 0;
}

.hero {
  background-color: #163A24;
  height: 85vh;
  position: relative;
}

.hero__row {
  align-items: center;
}

.hero__title {
  color: #FBFAF7;
  font-size: 48px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  margin: 120px 0 20px;
}

.hero__description {
  color: #FBFAF7;
  font-size: 18px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  color: #FBFAF7;
}

.hero__img {
  position: absolute;
  bottom: 0;
}

.hero .star--big,
.hero .star--orange,
.hero .star--pink,
.hero .star--yellow {
  position: absolute;
  animation: fades 1s infinite backwards;
  opacity: 1;
}

.hero .star--big {
  top: 5%;
  right: 70%;
}

.hero .star--orange {
  top: 12%;
  right: 5%;
}

.hero .star--pink {
  bottom: 12%;
  left: 5%;
}

.hero .star--yellow {
  top: 19%;
  right: 15%;
}

@keyframes fades {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.human {
  padding: 130px 0 115px;
  background-color: #F2EFE6;
}

.human__row {
  align-items: center;
}

.human__title {
  color: #163A24;
  font-size: 48px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 25px;
  max-width: 365px;
}

.human__description {
  color: #163A24;
  font-size: 18px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  max-width: 395px;
}

.human__container {
  max-width: 1000px;
}

.human__content {
  padding-left: 80px;
}

.human .display-none {
  display: none;
}

.partners {
  padding-bottom: 130px;
  background-color: #F2EFE6;
}

.partners__title {
  text-align: center;
}

.partners__row {
  margin-top: 75px;
  align-items: center;
}

.partners__item {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  background-color: #163A24;
  padding: 66px 0 140px;
}

.product__title {
  margin-bottom: 65px;
  text-align: center;
  color: #FBFAF7;
}

.product__row {
  margin: 0 -70px;
}

.product__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product__img {
  margin-bottom: 25px;
}

.product__subtitle {
  color: #FBFAF7;
  font-size: 18px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  margin: 4px 0;
}

.employee {
  padding: 115px 0 140px;
  background-color: #E5E5E5;
}

.employee__title {
  color: #163A24;
  text-align: center;
  max-width: 740px;
  margin: 0 auto;
}

.employee__description {
  text-align: center;
  margin: 25px auto 5px;
  max-width: 740px;
  line-height: 1.5;
  color: #163A24;
  font-size: 18px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
}

.employee__img {
  min-width: 100%;
  max-width: 100%;
}

.interest {
  padding: 120px 0;
  background-color: #E5E5E5;
}

.interest__row {
  margin: 0 -20px;
}

.interest__title {
  text-align: center;
}

.interest__text {
  text-align: center;
  margin: 25px 0 18px;
  color: #163A24;
  font-size: 18px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
}

.interest__name {
  display: block;
  max-width: 160px;
  margin: 20px 0;
  color: #163A24;
  font-size: 28px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

.interest__list {
  display: flex;
  flex-direction: column;
}

.interest__item {
  box-shadow: 5px 5px 20px 0 #E9E4D5;
  background-color: #FBFAF7;
  padding: 50px 40px;
  border-radius: 15px;
  margin: 0 20px;
  transition: 0.4s;
}

.interest__item:hover {
  margin-top: 25px;
}

.interest__icon {
  margin: 0 auto;
}

.interest__link {
  color: #163A24;
  font-size: 16px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 20px;
  position: relative;
  margin-left: 25px;
}

.interest__link::before {
  position: absolute;
  content: url(../img/png/circle.png);
  width: 10px;
  height: 10px;
  background-position: center;
  background-size: cover;
  left: -25px;
  bottom: 50%;
}

.book {
  padding: 115px 0 125px;
  background-color: #F2EFE6;
}

.book__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.book__row {
  justify-content: space-between;
  width: 100%;
}

.book__description {
  margin: 25px 0 60px;
  color: #163A24;
  font-size: 18px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

.book__title {
  text-align: center;
}

.book__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
  transition: 0.5s;
}

.book__item:hover .book__img {
  display: block;
}

.book__img {
  position: absolute;
  left: 0;
  top: -50px;
  z-index: -1;
  display: none;
}

.book__text {
  color: #163A24;
  font-size: 18px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  max-width: 260px;
}

.book__time {
  color: #163A24;
  font-size: 28px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 15px;
}

.book__btn {
  margin: 45px auto 0;
}

.book__arr {
  position: relative;
}

.book__arr::after {
  position: absolute;
  content: url("../img/png/arrow.png");
  top: 50%;
  transform: translateY(-50%);
  right: -100px;
}

.ebook {
  padding: 115px 0;
}

.ebook__btn {
  margin-top: 20px;
}

.get {
  padding: 115px 0;
  background-image: url("../img/png/get.png");
  background-position: center;
  background-size: cover;
}

.get__title {
  color: #FBFAF7;
}

.get__description {
  margin: 25px 0 18px;
  color: #FBFAF7;
}

.get__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.get__btn {
  background-color: #FAB5A0;
  color: #163A24;
}

.get__btn:hover {
  border: 2px solid #FAB5A0;
  background-color: transparent;
  color: #FAB5A0;
}

.date {
  padding: 55px 0 75px;
  background-color: #F2EFE6;
}

.date__form {
  width: 100%;
  position: relative;
  z-index: 0;
}

.date__row {
  align-items: center;
}

.date__input {
  width: 100%;
  min-height: 54px;
  border-radius: 160px;
  background-color: #FBFAF7;
  outline: none;
  border: none;
}

.date__btn {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  outline: none;
  border: none;
  min-height: 54px;
  border-radius: 160px;
  padding: 0 25px;
  background-color: #198C36;
  color: #FBFAF7;
}

.date__description {
  color: #163A24;
  font-size: 18px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  margin-top: 25px;
}

.date__text {
  color: #163A24;
  font-size: 14px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  margin-top: 10px;
  line-height: 1.5;
}

.date__link {
  color: #198C36;
  cursor: pointer;
}

.footer__top {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  display: flex;
}

.footer__item {
  margin-left: 20px;
  color: #198C36;
  font-size: 14px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
}

.footer__text {
  color: #163A24;
  font-size: 24px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-top: 1px solid #F2EFE6;
}

@media screen and (max-width: 1100px) {
  .col-5, .col-7 {
    width: 100%;
  }
  .col-3 {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .col-5, .col-7, .col-6, .col-3 {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  html {
    box-sizing: border-box;
  }
  .container {
    padding: 0 30px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 750px) {
  .section__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 750px) {
  .header__row {
    flex-direction: column;
  }
  .header__logo {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .hero {
    height: 80vh;
  }
  .hero__text {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .hero__img {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 750px) {
  .hero {
    height: 85vh;
  }
  .hero__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero__title {
    text-align: center;
    font-size: 48px;
    max-width: 400px;
    margin-top: 80px;
  }
  .hero__description {
    text-align: center;
    max-width: 500px;
  }
}

@media screen and (max-width: 750px) {
  .human__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .human__title {
    max-width: 100%;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }
  .human__description {
    max-width: 80%;
    font-size: 24px;
    text-align: center;
    margin-bottom: 80px;
  }
  .human__content {
    padding-left: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .human .display-none {
    display: block;
  }
  .human .display-block {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .partners__item {
    width: 50%;
    margin-bottom: 25px;
  }
  .partners__item:last-child {
    margin: 0 auto;
  }
}

@media screen and (max-width: 750px) {
  .product__item {
    margin-bottom: 20px;
  }
}
